@use "variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: v.$fuentePrincipal;
  font-size: 1.6rem;
  color: v.$white;
  background-image: linear-gradient(rgba(0 0 0 /.8) 0%, rgba(0, 0, 0, 0.4) 100%), url("../../build/img/marvel-universe.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  font-size: 2rem;
  font-family: captain;
  span{
    display: block;
    font-size: 80%;
  }
}
[class*="container"],
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
[class*="__heading"] {
  color: v.$primary;
}
img {
  max-width: 100%;
  display: block;
  pointer-events: none;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.section {
  padding: 3rem 0;
}

//This is to remove the background blue when you type in mobile
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
