//Colors
.text-white{
  color: white;
}

//Margins
.mt-3{
  margin-top: 3rem;
}

//Paddings
.p-block-3{
  padding: 3rem;
}
.pt-w-100{
  padding-top: 100vh;
}

//Aligns
.text-center{
  text-align: center;
}